
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.brand-logo{

}

.nav-extended{
  height:500px;
}

.section1{
  background-color: #252C48;
}

.section2{
  background-color: #14192F;
}

.section3{
  background-color: #17C37B;
}

.section4{
  background-color: #14192F;
}

.section5{
  background-color: #252C48;
}

.formulariozinho{
  background-color: #252C48;
}

.pezinho{
  background-color: #14192F;
}

nav{
  background-color: #14192F;
}

h1{
  font-family:
}

.fontetitulo{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 55px;
  font-size: 700;
}

.fontep{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.bemvindo{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top:140px;
  font-size:70px;
}

.link{
font-family: 'Raleway', sans-serif;
}

.cabecalho{
  font-family: 'Didact Gothic', sans-serif;
}
